.eduContainer{
    display: flex;
    flex-direction: column;
}
.educationEntry input{
    margin: 5px;
}
.eduBtn{
    float: right;
    margin-right: 25px;
}
.eduBtn button{
    width: 24px;
    height: 24px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: red;
     color: #fff;
     font-size: 12px;
}
.eduBtn button:hover{
    background-color: rgb(133, 5, 5);
}
.addBtn{
    text-align: right;
    margin-top: 10px;
    margin-right: 25px;
}
.educationEntry input:first-child{
    width: 95%;
    font-weight: 800;
}
.educationEntry input:nth-child(2){
    width: 95%;
}
.edu_design{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 15px;
}
.smBox{
    height: 8px;
    width: 8px;
    background-color: var(--black);
    transform: rotate(45deg);
}
.lgBox{
    height: 12px;
    width: 12px;
    background-color: var(--green);
    transform: rotate(45deg);
}
.lineDes{
    background-color: var(--green);
    width: 150px;
    height: 2px;
}