.eduContainer{
    display: flex;
    flex-direction: column;
}
.edu_design{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 15px;
}
.smBox{
    height: 8px;
    width: 8px;
    background-color: var(--black);
    transform: rotate(45deg);
}
.lgBox{
    height: 12px;
    width: 12px;
    background-color: var(--green);
    transform: rotate(45deg);
}
.lineDes{
    background-color: var(--green);
    width: 150px;
    height: 2px;
}