.skills_container{
    margin: 2em 0;
}
.skill_design{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 15px;
}
.smBox{
    height: 8px;
    width: 8px;
    background-color: var(--black);
    transform: rotate(45deg);
}
.lgBox{
    height: 12px;
    width: 12px;
    background-color: var(--green);
    transform: rotate(45deg);
}
.lineDes{
    background-color: var(--green);
    width: 150px;
    height: 2px;
}

.skillContent input{
    margin: 10px 12px 10px 0;
   
}
.skillContent button{
    background-color: red;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
}
.skillContent button:hover{
    background-color: rgb(107, 6, 6);
}
.addSkill{
    margin-right: 25px;
    margin-top: 12px;
    float: right;
}