:root{
    --grey:  #323232;
    --white: #EFEFEF;
    --green: #0D7377;
    --skyblue: #14FFEC;
    --black: #212121;
  }
.summary_container{
    width: 100%;
  
}
.summary_container textarea{
    border: none;
    resize: none;
    width: 100%;
    height: 120px;
}