.workExp_container{
    margin: 2em 0;
    
}
.workExpContent{
    width: 100%;
}
.workExp_design{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 15px;
}
.smBox{
    height: 8px;
    width: 8px;
    background-color: var(--black);
    transform: rotate(45deg);
}
.lgBox{
    height: 12px;
    width: 12px;
    background-color: var(--green);
    transform: rotate(45deg);
}
.lineDes{
    background-color: var(--green);
    width: 150px;
    height: 2px;
}

.workExpTextarea{
    height: 90px;
    width: 100%;
    resize: none;
}
.workExpContent input{
    margin: 4px 0;
}
.workExpContent input:first-child{
    width: 90%;
    font-weight: 800;
}
.workExpContent input:nth-child(2){
    width: 90%;
}
.workExpContent input:nth-child(3),
.workExpContent input:nth-child(5){
    width: 45%;
}
.workExp_buttons{
    text-align: right;
}
.workExp_buttons button{
    padding: 8px;
    margin: 12px 0;
}
.cancelBtn{
    position: absolute;
    right: 2.5rem;
    
}
.cancelBtn button{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
}
.cancelBtn button:hover{
    background-color: rgb(119, 3, 3);
}