.workExp_container{
    margin: 2em 0;
}
.workExp_design{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 15px;
}
.smBox{
    height: 8px;
    width: 8px;
    background-color: var(--black);
    transform: rotate(45deg);
}
.lgBox{
    height: 12px;
    width: 12px;
    background-color: var(--green);
    transform: rotate(45deg);
}
.lineDes{
    background-color: var(--green);
    width: 150px;
    height: 2px;
}
.workExp_buttons{
    text-align: right;
}
.workExpTextarea{
    height: 90px;
    width: 340px;
    resize: none;
}
.workExp_buttons button{
    margin-right: 25px;
    margin-top: 12px;
}
.workExpContent input{
    margin: 4px;
}
.workExpContent input:first-child{
    font-weight: 800;
}
.workExpContent input:first-child,
.workExpContent input:nth-child(2){
    width: 95%;
}
.workExpContent input:nth-child(3){
    width: 30%;
}
.workExpContent input:nth-child(4){
    width: 30%;
}