body{
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cv-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1em;
  /* width: 595px; */
  
}
.container{
  display: flex;
  justify-content: space-between;
}
.personal-info .name-content{
 
  padding: 3em 0;
}
.personal-info .name-content textarea{
  width: 80%;
  resize: none;
  min-height: 70px;
  max-height: 150px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 3.8rem;
  font-weight: bolder;

}
.other-personal-info{
  display: flex;
}
.summary-container{

  margin: 2em 0;

}
.summary-container textarea{
  width: 90%;
  min-height: 180px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1rem;
  font-weight: bolder;
}
input{
  border: none;
  outline: none;
}
textarea{
  resize: none;
  border: none;
  overflow: none;
  outline: none;
}