:root{
  --orange: #EC5228;
  --light-orange: #EF9651;
  --white: #EFEFEF;
  --green: #3F7D58;
  --black: #2A3335;
}
body{
  background-color: var(--black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cv-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 2em;
}
.container{
  display: flex;
  gap: 20px;
}
.sidepanel-content,
.rightpanel-content{
  width: 300px;
}
/* PERSONAL DETAILS CSS */
.personal-info .name-content textarea{
  width: 100%;
  min-height: 160px;
  max-height: 450px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 3rem;
  font-weight: bold;
  overflow: hidden;
  color: var(--green);
}
/* ABOUT ME CSS */
.summary-container textarea{
  width: 100%;
  min-height: 220px;
  max-height: 450px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1.2em;
  overflow: hidden;
}
input, textarea{ /* reset */
  border: none;
  outline: none;
  resize: none;
  background-color: var(--white);
}